/* universal selector */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
}

/* id selector */
#frame {
    /* background-color: #c9efdc; */
    /* background: linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%); */
    background: linear-gradient(90deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);
    color: #1f2c4c;
    width: 40%;
    text-align: center;
    margin: 10% auto;
    padding: 60px;
    border-radius: 20px;
    
    /* padding-right: 10px; */
}

#frame:hover{
    box-shadow: 0px 0px 20px #fff;
}

/* eliment selector */
body {

    /* background-color: #bbdefb; */
    background: linear-gradient(90deg, hsla(176, 61%, 87%, 1) 0%, hsla(150, 54%, 86%, 1) 50%, hsla(301, 68%, 84%, 1) 100%);

}

/* descendant selector */
#frame>h1 {
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/* gruping selector */
/* label,
input, */
.pr {
    /* display: flex; */
    font-size: 25px;
    line-height: 25px;
    margin: 20px auto;
}

.pr a{
    /* text-transform: uppercase; */
    color: chocolate;
    font-weight: 600;
}

.pr::first-letter{
    font-size: 35px;
}

select{
    display: block;
    width: 25%;
    margin: 20px auto;
    padding: 5px;
    font-size: 10px;
    background-color: transparent;
    /* border: 2px solid; */
    border-radius: 10px;
}
option{
    background-color: bisque;
    /* font-size: 18px; */

}
#pro, option{
    font-size: 20px;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style:double;
}

/* attribute selector */

input {
    background-color: transparent;
    width: 95%;
    margin: 0px auto 10px;
    border: 1px solid;
    /* color: #fff; */
    padding: 10px;
    /* margin-bottom: 10px; */
    font-size: 18px;
    border-radius: 10px;
}

input[type="submit"] {
    width: 50%;
    margin: 20px auto;
    text-transform: capitalize;
    /* text-align: center; */
    font-size: 25px;
    /* background: linear-gradient(90deg, hsla(38, 81%, 52%, 1) 0%, hsla(62, 76%, 64%, 1) 100%); */
    background: linear-gradient(90deg, hsla(313, 39%, 93%, 1) 0%, hsla(320, 78%, 79%, 1) 50%, hsla(193, 81%, 84%, 1) 100%);
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px blue;

}   

input[type="submit"]:hover {
    background: linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
    /* background: linear-gradient(90deg, hsla(189, 100%, 50%, 1) 0%, hsla(248, 16%, 61%, 1) 100%); */
    /* transition: ease-in-out 0.2s; */
    font-size: 30px;
    box-shadow: 0px 0px 8px black;
}
